.menu {
    display: flex;
    margin-bottom: 70px;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0, 227, 243);
}
.menu > div {
    flex: 0 1 auto;
    margin: 10px;
    padding: 20px;
    text-align: center;
}
.menu > div:hover {
    background-color: rgb(145, 0, 182);
}
.footer {
    bottom: 0px;
    background-color: rgb(77, 77, 77);
    text-align: center;
    margin-top: 40px;
}